*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(219, 137, 42)
}
.confi{
    left: 200%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0;
    margin-top: 20px;

}

header{
    padding: 20px;
    background-color: black;
    font-size: 20px;
}
.center{
    width: 100%;
    text-align: left;
}

.center a {
    left: 200%;
    text-align: left;
    margin: 25px;
    border-top: 25;
    width: 400%;
    top: 150%;
    color: aliceblue;
    text-decoration:none;
    font-weight: bold;
}
footer{
    background-color:black;
        color:aliceblue;
        bottom: 0 auto;
}
footer{
        text-align: center;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 30px;
      }

.receitass{
    display: flex;
    padding: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-block: 30px;
}
 .receita1{
    padding: 10px;
    background-color: rgb(240, 235, 169);
    width: 500px;
    height: 750px;
    text-align: left;
    margin-top: 50px;
 }
 .receita2{
    padding: 10px;
    background-color:rgb(240, 235, 169);
    width: 500px;
    height: 750px;
    text-align:left;
    margin-top: 50px;

}
.receita3{
    padding: 10px;
    background-color:rgb(240, 235, 169);
    width: 500px;
    height: 750px;
    text-align: left  ;
    margin-top: 50px;
}
h1{
    text-align: center;
}